* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: rgb(83, 55, 12);
    justify-content: center;
    align-items: center;
    display: flex;
}
div {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
#box1 {
    background-color: rgb(75, 129, 111);
}
#box2 {
    background-color: rgb(190, 26, 53);
}
#box3 {
    background-color: rgb(141, 107, 20);
}
#main{
    display: flex;
}